[submodule "3rdparty/nanolog"]
	path = 3rdparty/nanolog
	url = https://github.com/Iyengar111/NanoLog.git
[submodule "3rdparty/variadicLogging"]
	path = 3rdparty/variadicLogging
	url = https://github.com/carlcook/variadicLogging.git
[submodule "3rdparty/typestring"]
	path = 3rdparty/typestring
	url = https://github.com/irrequietus/typestring.git
[submodule "3rdparty/llcpp"]
	path = 3rdparty/llcpp
	url = https://github.com/blapid/llcpp.git
